body{
    background-repeat: repeat-y;
    background-size: cover; 
    background-image: url("Resources/background.jpg") ;
}


#namePrompt{
    background-color: orange;
    color: white;
    padding: 20px;
    border-radius: 12px;
    display:flex;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.toppingChoice{
    background-color: orange;
    color: white;
    padding: 20px;
    border-radius: 12px;
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Positions elements at the far ends */
    font-family: "Lacquer", system-ui;
    font-weight: 200;
    font-size: 30px;
    color: white;
    background-color: orange; /* Optional background color for title */
    padding: 10px 20px;
    margin-bottom: 50px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    position: relative;
    top:0;
    left: 0;
    right: 0;
}

#left-side {
    width: 300px;
    height: 155px;
    filter: invert(100%);
    margin:-10px;
    border-right: 2px solid black;
}

#right-side {
    width: 300px;
    height: 155px;
    filter: invert(100%);
    margin: -10px;
    border-left: 2px solid black;
}

.title-container h1 {
    margin: 0;
    flex-grow: 1; /* Allows the title to expand and fill space between the images */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Ensures the title stays centered */
}

#pizza {
    size: relative;
    max-width: 70px;
    max-height: 70px;
    filter: invert(100%);
    transform: rotate(25deg);
    margin-right: 10px; /* Adds space between the title and logo */
}

#hand{
    height: 20px;
    width: 20px;
    padding-left: 10px;
    filter: invert(100%);
}